@page

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page1</title>
</head>
<body>
    <h1>
        RazorClassLibraryNotWorkingPage
    </h1>
    <p>
        Path: [SolutionPath]/RazorClassLibraryNotWorking/Pages/RazorClassLibraryNotWorkingPage.cshtml
    </p>
</body>
</html>
